@use '@angular/material' as mat;
@include mat.core();

$myapp-theme-primary: mat.m2-define-palette(mat.$m2-red-palette, 600);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-grey-palette,900);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((
color: (
theme-type: dark,
primary: $myapp-theme-primary,
accent: $myapp-theme-accent,
warn: $myapp-theme-warn,
),
density: (
scale: -1,
)
));

@include mat.all-component-themes($myapp-theme);
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

