<main>
  <mat-card class="example-card">
    <div>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> A propos</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="main-image" [src]="'img/photo.jpg'" alt="Photo of me">
    </div>
    
  <div>
    <mat-card-content>
      <p>
        Salut, je m'appelle Rafik et j'ai 19 ans.
        Depuis que je suis tout petit, ma passion pour les ordinateurs
        ne fait que croître.

          J'ai été fasciné par leur fonctionnement et leur potentiel dès mon plus jeune âge,
          ce qui m'a poussé à explorer le monde du développement informatique en choisissant de faire un BUT Informatique.
          Je suis issu d'une formation en BUT Informatique à la doua.
      </p>
    </mat-card-content>
  </div>
  </mat-card>
</main>
